@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  /* color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
  /* color: #2e2d2b;
  background-color: #f5efe6; */
  font-family: "Inter", sans-serif;
  background-color: #0f1729;
}

/* Styles for the track (empty space) */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* Set the background color for the empty space */
  border-radius: 20px; /* Adjust the border radius as needed */
}

/* Styles for the thumb (scrollable area) */
::-webkit-scrollbar-thumb {
  background: #7a62f6; /* Set the background color for the thumb */
  border-radius: 20px; /* Adjust the border radius as needed */
}

/* Styles for the scrollbar itself */
::-webkit-scrollbar {
  width: 10px; /* Set the width of the scrollbar */
}

/* Optional: Styles for the corner of the scrollbar */
::-webkit-scrollbar-corner {
  background: #f1f1f1; /* Set the background color for the corner */
}
